.owl-carousel .item{
    border: 1px solid black; 
    font-size: 24px;
    text-align: center;
    margin-top: 20px;;
   }
   
   .owl-next{
    float:right;
   }
   .owl-prev{
    float:left;
   }
   .owl-prev span{
    font-size: 24px;
    font-weight: bold;
   }
   .owl-next span{
    font-size: 24px;
    font-weight: bold;
   }
   .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
    